:root {
  --main-background: #f5f5f5;
  --text-color: #222222;
  --inverse-text: #ffffff;
  --highlight: #0077ff;
  --inverse-highlight: #66bbff;
  --card-background: #ffffff;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
    background-color: var(--main-background) ;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    color: var(--text-color);
}
header{
    background-color: var(--highlight);
    color: var(--text);
    padding: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
}
 header nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
}
 header nav a {
    text-decoration: none;
    color: var(--inverse-text);
    font-weight: 600; 
    padding: 4px 15px;
    border-radius: 5px;
    transition: background-color 0.5s, color 0.5s ;



}
nav a:hover{
    background-color: var(--inverse-highlight);
    color: var(--highlight);
}
main{
     display: grid;
     grid-template-columns: auto 90vw auto;
     gap: 20px;
     margin-top: 20px;
    
}
main #about-me {
    grid-column: 2;
}

section #perfil { 
    background-color: var(--card-background);
    grid-column: 2;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 30px;
}
section #perfil img {
    border-radius: 50%;
    width: 200px;
    border: 5px solid var(--card-background);
    outline: 5px solid var(--highlight);
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    
}
section #perfil h2 {
    color: var(--highlight);
    margin-bottom: 20px;
}
section #perfil nav {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

section #perfil nav a {
   color: var(--highlight);
   background-color: var(--card-background);
   align-items: center;
   font-size: 3em;
   text-decoration: none;
   transition: color 0.5s;
}
section #perfil nav a:hover {
    color: var(--inverse-highlight);
} 
section #apresentation {
    grid-column: 2;
    background-color: var(--card-background);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    
  
}
section #apresentation h2 {
    color: var(--highlight);
    margin-bottom: 20px;

}
section #apresentation iframe {
  max-width: 100%;
  width: 80vw;
  min-height: 300px;
  
  border-radius: 8px;
  aspect-ratio: 16/9;

}

@media screen and ( min-width: 768px) {
    section #apresentation iframe{
        min-height: 500px;
    }
}